<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- appender with name STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!-- print format (using date, thread, level, logger name and message -->
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/fileout.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- start new log file every day -->
            <fileNamePattern>logs/fileout-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- also start new file when max size reached -->
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- named logger used by every class in our project -->
    <logger name="edu.bbte.idde.frim1910" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>
    <!-- root logger (used by all else) -->
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
